* {
  box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  max-height: 70px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 100px;
  width: 84px;
}

ul {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
}

li {
  margin-right: 5px;
}

.placeholder {
  height: 100px;
  width: 84px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.img-link {
  background-color: transparent;
  border: none;
}

