.footer-section {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.social-media-cont {
  display: flex;
  margin-right: 5px;
}
 
.footer-icon {
  border: 1px solid black;
  background-color: white;
  margin-right: 5px;
  margin: 5px;
}